<!DOCTYPE html>
<html lang="es" ng-app="pengrafApp">
<head>
    <meta charset="UTF-8">
    <title>Pengraf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="node_modules/alertifyjs/build/css/alertify.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Js -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="node_modules/interactjs/dist/interact.js"></script>
    <script src="node_modules/alertifyjs/build/alertify.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/showModals.js"></script>
    <script src="js/app.js"></script>
    <script src="js/loading.js"></script>
</head>
<body ng-controller="DashboardController" ng-init="initDashboard()">
<!--------------------------------------------------------------------------------------------------------------------->
<!-- Loader -->
<!--------------------------------------------------------------------------------------------------------------------->
<div class="loader loader-show" id="loader" ng-show="loading">
    <div class="bubblingG">
	        <span id="bubblingG_1">
	        </span>
        <span id="bubblingG_2">
	        </span>
        <span id="bubblingG_3">
	        </span>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<!-- Nav bar -->
<!--------------------------------------------------------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-light">
    <img src="img/logo.png" alt="" height="40">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="./reports.html"><i class="fas fa-chart-line">  Reportes</i></a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-user"></i></a>
            </li>
            -->
        </ul>
    </div>
</nav>
<!--------------------------------------------------------------------------------------------------------------------->
<!-- Content -->
<!--------------------------------------------------------------------------------------------------------------------->
<div class="container-fluid">
    <!-- List of zones -->
    <div class="row">
        <h2 class="col-12">Zonas de la compañia</h2>
        <div class="col-1">
            <span class="fas fa-plus fa-3x next-prev" data-toggle="modal" data-target="#newZoneModal"></span>
        </div>
        <div class="zones col-10" style="margin-left: 25px">
            <span ng-repeat="(key,value) in zones" ng-click="setSelectedZone($index)">
                <img src="{{value.image}}" alt="" width="100" style="background: white">
            </span>
        </div>
        <h3 class="col-12">Zona seleccionada: {{selectedZone.name}}</h3>
    </div>
    <!-- List of Blocks -->
    <div class="row">
        <div class="col-12" ng-repeat="(key,value) in selectedZone.blocks">
            <span class="card area" ng-click="onItemClicked(value)">
                <div class="card-body col-12">
                    <div class="row card-title">
                        <div class="col-2">
                            <ul class="dots">
                                <li>
                                    <a href="#">
                                        <mark class="wobble">{{value.total_pendings}}</mark>
                                    </a>
                                </li>
                            </ul>
                            <img src="{{value.image}}" class="" alt="" height="50" width="50">
                        </div>
                        <div class="col-10">
                            <p style="margin-top: 7%; margin-left: 5%"><b>{{value.name}}</b></p>
                        </div>
                        <p class="col-12" style="margin-top: 10px">{{value.description}}</p>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<!-- Modals -->
<!--------------------------------------------------------------------------------------------------------------------->
<div class="modal fade" id="newZoneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Nueva Zona</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Creada por: @tmoreno
                </p>
                <p>
                    Fecha de creación:  {{today}}
                </p>

                <div class="input-u col-12">
                    <input class="col-12" type="text" placeholder="Nombre de la zona" ng-model="zoneCreationName">
                </div>
                <div class="input-u col-12">
                    <textarea class="col-12" type="text" placeholder="Descripción" rows="3" ng-model="zoneCreationDescription"></textarea>
                </div>
                <h3>Tipo de zona: </h3><p>{{zoneForCreation.name}}</p>
                <!-- List of zone types -->
                <div class="row zone-types">
                    <div class="col-4" ng-repeat="(key,value) in defaultZones">
                        <span ng-click="selectZoneType($index)">
                            <img id="{{value.id}}" class="zone-type" src="{{value.image}}" alt="" width="100" style="background: white">
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="createZone()">Guardar</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>