<!DOCTYPE html>
<html lang="es" ng-app="pengrafApp">
<head>
    <meta charset="UTF-8">
    <title>Pengraf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="node_modules/alertifyjs/build/css/alertify.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Js -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="node_modules/interactjs/dist/interact.js"></script>
    <script src="node_modules/alertifyjs/build/alertify.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/showModals.js"></script>
    <script src="js/app.js"></script>
    <script src="js/loading.js"></script>
</head>
<body ng-controller="DashboardController" ng-init="initDashboard()">
<!--------------------------------------------------------------------------------------------------------------------->
<!-- Loader -->
<!--------------------------------------------------------------------------------------------------------------------->
<div class="loader loader-show" id="loader" ng-show="loading">
    <div class="bubblingG">
	        <span id="bubblingG_1">
	        </span>
        <span id="bubblingG_2">
	        </span>
        <span id="bubblingG_3">
	        </span>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<!-- Nav bar -->
<!--------------------------------------------------------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-light">
    <img src="img/logo.png" alt="" height="40">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="./reports.html"><i class="fas fa-chart-line"></i></a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-user"></i></a>
            </li>
            -->
            <li class="nav-item">
                <span class="nav-link" onclick="setFullScreen()"><i class="fas fa-columns" id="fullscren-icon"></i></span>
            </li>
        </ul>
    </div>
</nav>
<!--------------------------------------------------------------------------------------------------------------------->
<!-- Content -->
<!--------------------------------------------------------------------------------------------------------------------->
<div class="container-fluid" id="con">
    <div class="row">
        <!--------------------------------------------------------------------------------------------------------------------->
        <!-- Right bar -->
        <!--------------------------------------------------------------------------------------------------------------------->
        <div class="col-2 sidebar not-fullscreen" id="left">
            <div class="row block-header">
                <h3 class="col-12">Bloques</h3>
            </div>

            <!--------------------------------------------------------------------------------------------------------------------->
            <!-- List of blocks -->
            <!--------------------------------------------------------------------------------------------------------------------->
            <div class="row">
                <!-- List of defaul blocks -->
                <div class="col-12" ng-repeat="(key,value) in defaultBlocks">
                    <div class="card block">
                        <div class="card-body col-12" style="text-align: center">
                            <div class="row card-title">
                                <p class="col-10"  style="text-align: left"><b>{{value.name}}</b></p>
                                <span class="fas fa-plus" data-toggle="modal" data-target="#newItemModal" ng-click="selectBlockToAdd($index)"></span>
                            </div>
                            <img src="{{value.image}}" alt="" width="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--------------------------------------------------------------------------------------------------------------------->
        <!-- Center Content -->
        <!--------------------------------------------------------------------------------------------------------------------->
        <div class="col-8 content" id="center">
            <!--------------------------------------------------------------------------------------------------------------------->
            <!-- Zones -->
            <!--------------------------------------------------------------------------------------------------------------------->
            <div class="row">
                <h2 class="offset-1 col-12">Zonas de la compañia</h2>
                <!-- List of zones -->
                <div class="col-1 offset-1">
                    <span class="fas fa-plus fa-3x next-prev" data-toggle="modal" data-target="#newZoneModal"></span>
                </div>
                <div class="zones col-9">
                    <span ng-repeat="(key,value) in zones" ng-click="setSelectedZone($index)">
                        <img src="{{value.image}}" alt="" width="100" style="background: white">
                    </span>
                </div>
            </div>

            <!--------------------------------------------------------------------------------------------------------------------->
            <!-- Zone container -->
            <!--------------------------------------------------------------------------------------------------------------------->
            <div class="row" style="margin-top: 20px">
                <br>
                <h3 class="offset-1 col-10">Zona seleccionada: {{selectedZone.name}}</h3>
            </div>
            <div class="row" id="container-zone">
                <div class="col-10 offset-1 droppable-container dropzone" id="dropzone">
                    <div class="col-12 minloader" ng-show="minloader">
                        <img src="img/preloader.gif" alt="" class="col-2 offset-10">
                        <p class="col-2 offset-10">
                            Actualizando...
                        </p>
                    </div>
                </div>
            </div>

            <!--------------------------------------------------------------------------------------------------------------------->
            <!-- Footer -->
            <!--------------------------------------------------------------------------------------------------------------------->
            <footer class="footer">
                <div class="row">
                    <p class="copyright col-12">Copyright © Pengraf 2018</p>
                </div>
            </footer>
        </div>
        <!--------------------------------------------------------------------------------------------------------------------->
        <!-- Left bar -->
        <!--------------------------------------------------------------------------------------------------------------------->
        <div class="col-2 sidebar" id="right">

            <div class="row block-header">
                <h3 class="col-12">Pendientes</h3>
            </div>

            <div class="loader-sidebar" ng-show="pendingLoader">
                <div class="bubblingG">
	                <span id="bubblingG_4">
	                </span>
                    <span id="bubblingG_5">
	                </span>
                    <span id="bubblingG_6">
	                </span>
                </div>
            </div>

            <!--------------------------------------------------------------------------------------------------------------------->
            <!-- Selected item info -->
            <!--------------------------------------------------------------------------------------------------------------------->
            <div class="row" ng-show="!pendingLoader">
                <div class="col-12 item-info">
                    <div class="row">
                        <h4 class="col-10">{{selectedBlock.name}}</h4>
                        <span class="fas fa-plus" data-toggle="modal" data-target="#newPendingModal"></span>
                    </div>
                    <div class="row">
                        <p><b>Zona a la que pertenece:</b> {{selectedZone.name}}</p>
                        <p>{{selectedBlock.description}}</p>
                    </div>
                    <!--------------------------------------------------------------------------------------------------------------------->
                    <!-- List of penddings of that item -->
                    <!--------------------------------------------------------------------------------------------------------------------->
                    <div class="row" ng-repeat="(key,value) in pendings">
                        <!-- List of pendings of item -->
                        <div class="card col-12 pending {{value.state_class}}">
                            <div class="card-body col-12">
                                <div class="row">
                                    <h4 class="col-12">{{value.name}}</h4>
                                    <p class="col-6">@{{value.responsable_username}}</p>
                                    <p class="col-6 date-end">{{value.end_date}}</p>
                                    <p class="col-12">
                                        {{value.description}}
                                    </p>
                                    <div class="col-12">
                                        <div class="row">
                                            <h4 class="col-10">Evidencia fotográfica</h4>
                                            <span class="fas fa-eye fa-sm" id="pending_pics_01_eye" ng-click="showPicsOfPending($index)"></span>
                                        </div>
                                        <div class="row active" ng-show="value.showing_pics == true">
                                            <span class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" ng-repeat="(key, value2) in value.photos">
                                                <img src="{{value2.image}}" alt="" class="minmap">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------->
<!-- Modals -->
<!--------------------------------------------------------------------------------------------------------------------->
<!-- Modal For new Zone-->
<div class="modal fade" id="newZoneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Nueva Zona</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Creada por: @tmoreno
                </p>
                <p>
                    Fecha de creación: yyyy-MM-dd hh:mm:ss
                </p>

                <div class="input-u col-12">
                    <input class="col-12" type="text" placeholder="Nombre de la zona">
                </div>
                <div class="input-u col-12">
                    <textarea class="col-12" type="text" placeholder="Descripción" rows="3"></textarea>
                </div>
                <h3>Tipo de zona: </h3><p>{{zoneForCreation.name}}</p>
                <!-- List of zone types -->
                <div class="row zone-types">
                    <div class="col-4" ng-repeat="(key,value) in defaultZones">
                        <span ng-click="selectZoneType($index)">
                            <img id="{{value.id}}" class="zone-type" src="{{value.image}}" alt="" width="100" style="background: white">
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal For new Item-->
<div class="modal fade" id="newItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Nuevo Item</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Zona: Zona seleccionada
                </p>
                <p>
                    Item: Tipo de item/bloque
                </p>
                <p>
                    Creada por: @tmoreno
                </p>
                <p>
                    Fecha de creación: yyyy-MM-dd hh:mm:ss
                </p>

                <div class="input-u col-12">
                    <input class="col-12" type="text" placeholder="Nombre de la zona">
                </div>
                <div class="input-u col-12">
                    <textarea class="col-12" type="text" placeholder="Descripción" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="addItem(20,20)" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal For new Pending-->
<div class="modal fade" id="newPendingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Nuevo Pendiente</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Zona: Zona seleccionada
                </p>
                <p>
                    Item: Nombre del item al que se añadirá el pendiente
                </p>
                <p>
                    Creada por: @tmoreno
                </p>
                <p>
                    Fecha de creación: yyyy-MM-dd hh:mm:ss
                </p>

                <div class="input-u col-12">
                    <input class="col-12" type="text" placeholder="Nombre de la zona">
                </div>
                <div class="input-u col-12">
                    <textarea class="col-12" type="text" placeholder="Descripción" rows="3"></textarea>
                </div>
                <div class="input-u col-12">
                    <input class="col-12" type="text" placeholder="Asignado a... ">
                </div>
                <div class="input-u col-12">
                    <div class="btn-group col-12">
                        <button class="btn-text" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <i class="{{pendingForCreationTypeImg}}" style="margin-right: 5px"></i>
                            {{pendingForCreationTypeText}}
                        </button>
                        <button type="button" class="dropdown-toggle toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <span class="dropdown-item" ng-click="pendingTypeSelected(1)">
                                <i class="fas fa-star"></i>
                                Seguridad</span>
                            <span class="dropdown-item" ng-click="pendingTypeSelected(2)">
                                <i class="fas fa-project-diagram"></i>
                                Procesos</span>
                            <span class="dropdown-item" ng-click="pendingTypeSelected(3)">
                                <i class="fas fa-check-circle"></i>
                                Calidad</span>
                            <span class="dropdown-item" ng-click="pendingTypeSelected(4)">
                                <i class="fas fa-circle"></i>
                                Generales</span>
                        </div>
                    </div>
                </div>
                <div class="input-u col-12">
                    <input class="col-10" type="text" placeholder="Fecha de cierre" onfocus="(this.type='date')">
                    <i class="fas fa-calendar-alt col-1" style="margin-left: 30px"></i>
                </div>
                <h3>Evidencia fotográfica:</h3>
                <!-- List of pictures uploades -->
                <div class="col-12">
                    <div class="row">
                        <span class="custom-file-upload col-3" onclick="document.getElementById('selectedFile').click();">
                            <input type="file" id="selectedFile" accept="image/x-png,image/gif,image/jpeg" onchange="readURL(this);"/>
                            <i class="fas fa-upload fa-2x"></i>
                            <p>Agregar archivo</p>
                        </span>

                        <div class="col-3" ng-repeat="(key,value) in pendingForCreationImages">
                            <img src="{{value}}" alt="" height="80" width="80" style="margin-top: 10px; padding: 2px">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>